* {
	margin: 0;
	padding: 0;
}
body {
  font: 15px 'Montserrat', sans-serif;
  line-height: 1.7;
  /*background-image: url("alchemy.gif");*/
  background-repeat: repeat;
}

hr {
    display: block; 
    height: 0.5cm;
    border: 0; 
    border-top: 1px solid #000080;
    thickness: 1cm;
    margin: 1em 0; 
    padding: 0; 
}

h2 {
  font-size: 26px;
}

h4 {
  font-size: 18px;
}

.info-card {
	margin: 1em;
	padding: 0;
	background-color: white;

  max-width: 25cm;
}

.photo-card {
	margin-top: 2em;

}

.point {
	padding-top: 2%;
	padding-bottom: 2%;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.code-block {
  text-align: center;
  background-color: #161616;
  color: #A08563;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
}

.code-block-left {
  text-align: left;
  padding: 1cm;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #161616;
  color: #A08563;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
}

.code-function-name {
  color: red;
}
.code-variable-name {
  color: green;
}
.code-comment-name {
  color: gray;
}

.quiz-answer {
  background-color: #FAE8E0;
  padding: 0.1em;
  border-radius: 0.7em;
}

.email-list {
  text-align: center;
  /*background-color: #ffcccc;*/
  padding: 0.4cm;
  border-radius: 0.2cm;
}

.subscribe-btn {
  background-color: #FFE5B4;
  padding: 0.6cm;
  margin: 0.4cm;
  border: none;
  border-radius: 0.2cm;
}

.email-input-style {
  display: inline; 
  /*text-align: center;*/
  padding: 0.3cm;
  width: 7cm;
  height: 1cm;
}

.loader {
  border: 0.25cm solid #161616; /* Light grey */
  border-top: 0.25cm solid #A08563; /* Blue */
  border-radius: 50%;
  width: 1cm;
  height: 1cm;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}